
<div class="card mt-4 col-12">
  <div class="card-body mx-auto col-10">
    <h3 class="card-title text-center">Ingreso</h5>
    
<form action="/educado/edit/{{editar.id}}" method="POST">
       <div class="form-group">
            <label>Nombre: </label>
            <input name="Nombre" type="text" class="form-control" value='{{editar.nombre}}'> </br>
       </div>   

       <div class="form-group">
            <label>Cedula de identidad: </label>
            <input name="Ci" type="text" class="form-control" value={{editar.CI}}> </br>
       </div>   
        <div class="form-group">
            <label>Sipi:</label>
            <input name="Sipi" type="text" class="form-control" value={{editar.sipi}}> </br>
       </div>   
        <div class="form-group">
            <label>Fecha de nacimiento: </label>
            <input name="Fnac" type="date" class="form-control" value="{{editar.fnac}}"> </br>
       </div>   
        <div class="form-group">
            <label>Proroga: </label>
            <input name="prorroga" type="text" class="form-control" value="{{editar.prorroga}}"> </br>
       </div>
     <div class="mb-3">
          <label for="validationTextarea">Proyecto Educativo Individual: </label>
          <textarea class="form-control"  name="pei" > {{editar.pei}}</textarea>
     <br>
     </div>

    <div class="form-group">
            <label for="exampleFormControlFile1">Foto:</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="Archivo">
    </div>

    <div class="form-group">
         <br>
        <button  class="btn btn-success">Completar Formulario</button>
    </div>

</form>
        </div>
  </div>

