<div class="row mt-4">

    <h5>{{adolesente.Nombre}}</h5>
    <br><br>
    <a href="/educado/edit/{{adolesente.Id}}" class="btn btn-primary ">Datos personales</a><br>
    <a href="/educado/pei/{{adolesente.Id}}" class="btn btn-success ">PEI</a><br>
    <a href="/educado/EvaluacionPEI/{{adolesente.Id}}" class="btn btn-success">Evaluacion del PEI</a><br>
    <a href="/educado/ei/{{adolesente.Id}}" class="btn btn-primary">Registro de espacio Individual</a><br>
</div>